



 .box {
      display: grid;
      grid-template-columns: repeat(2,1fr)
 } 

  .navlist{
      display:flex;
      justify-content:space-between;
      list-style-type:none;
 

 }
 .text{
     margin-top: 250px;
     width: 150px;
     padding: 40px;


 }
                